{% extends "views/base.html" %}

{% block title %}Week {{week}}{% endblock %}

{% block content %}
  <h2>Week {{week}}/{{year}}</h2>
  <img src="../image/?week={{week}}&year={{year}}&x=780&y=400" align="middle" alt="Graphista" />
  <hr />
  <p style="text-align: center; margin-top:0em;">
    <a href="?week={{prevWeek}}&year={{year}}">&lt;&lt; Back to week {{prevWeek}}</a>&nbsp;|&nbsp;
    <a href="?week={{nextWeek}}&year={{year}}">Forward to week {{nextWeek}} &gt;&gt;</a> 
  </p>
{% endblock %}
