body {
  font-family: Georgia, Tahoma;
  margin: 1em;
  background-color: #221111;
}

div {
  background-color: #664;
}

div#sidebar {
  margin-top: 114px;
  border: 2px solid #443;
  float: left;
  padding: 0.4em;
}

div#content {
  margin-left: 1em;
  border: 2px solid #884;
  float: left;
  width: 800px;
  background: url('header.png') no-repeat;
  background-size: 100%;
  background-color: #eb4;
  min-height: 30em;
  padding-left: 1em;
  padding-top: 114px;
}

div#content h2 {
  text-align: center;
}


/**************************
        Texts
**************************/

a               { color: #620A00; text-decoration: underline; }
a:visited       { color: #620A00; text-decoration: underline; }
a:active        { color: #620A00; text-decoration: underline; }
a:hover         { color: #BA3E02; text-decoration: underline; }

h2#user {
  font-size: 120%;
  color: #221;
  text-decoration: underline;
  margin-bottom: 0em;
}

h2#title {
  color: #770000;
  margin-top: -0.4em;
}

ul.mainmenu1 {
  list-style: none;
  padding: 0em;
}

ul.mainmenu2 {
}

hr {
  height: 1px;
  background-color: #000;
  width: 50%;
  border: none;
}
